* {
    margin:0;
    padding:0;
    font-family: Prata;
}
@media only screen and (max-width: 400px){

}
.img{
    min-height: 20vw;
    width:100%;
    background-image: url("picture.png");
    background-position: center;
    background-size: cover;
    position: absolute;
}
nav {
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex:1;
    text-align: right;
    padding:20px;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
}
.nav-links ul li::after {
    content: "";
    width: 0;
    height: 3px;
    background: darkgrey;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.box-1 {
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
.box-1 .text-1 {
    position:relative;
    top:15vw;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(113, 173, 184);
    box-shadow: 0 0 5px rgb(113, 173, 184), 0 0 5px rgb(113, 173, 184);
}
.box-1 .text-1 p {
    margin: 20px;
}
.box-2 {
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:200px;
}
.box-2 .text-2 {
    text-align: center;
    position:relative;
    top:15vw;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(113, 173, 184);
    box-shadow: 0 0 5px rgb(113, 173, 184), 0 0 5px rgb(113, 173, 184);
}
.box-2 .text-2 p {
    margin: 20px;
}
.box-2 .text-2 h3 {
    margin:10px;
}
.box-2 .text-2 ul li {
    margin:10px;
    list-style: none;
}
.box-3 {
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:150px;
}
.text-3 {
    text-align: center;
    position:relative;
    top:15vw;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(113, 173, 184);
    box-shadow: 0 0 5px rgb(113, 173, 184), 0 0 5px rgb(113, 173, 184);
}
.box-3 .text-3 p {
    margin:20px;
}
.box-3 .text-3 h3 {
    margin:10px;
}
.box-3 .text-3 ul li {
    margin:20px;
    list-style:none;
}
.box-4 {
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:150px;
}
.box-4 .text-4 {
    text-align: center;
    position:relative;
    top:15vw;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(113, 173, 184);
    box-shadow: 0 0 5px rgb(113, 173, 184), 0 0 5px rgb(113, 173, 184);
}
.box-4 .text-4 p {
    margin:40px
}
.box-4 .text-4 h3 {
    margin:10px;
}
